body, h1, p{
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.menu-item{
    width: 50%;
}
.logo h1{
    font-size: 70px;
    font-style: italic;
}
.menu-item ul{
    display: flex;
    justify-content: right;
    margin-right: 80px;
}
.menu-item ul li{
    padding: 5px 15px;
    list-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.left-item{
    width: 60%;
    margin-left: 3%;
    margin-top: 6%;
}
.left-item p{
    font-size: 20px;
    margin-bottom: 20px;
}
.left-item p:first-of-type{
    color: red;
}
.left-item h1{
    font-size:70px;
    margin-bottom: 20px;
}
.right-item{
    width: 40%;
}
.right-item img{
    width: 100%;
}
.link-btn{
    margin-top: 20px;
    display:inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 60px;
    background-color: red;
    border-radius: 5px;
}
